<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
</head>
<body>
    <form action="/favorite" method="POST">
        <input type="text" name="search" placeholder="enter name or level">
        <input type="text" name="searchtype" value="name">Name
        <input type="text" name="searchtype" value="level">level
        <button type="submit">Search</button>
    </form>
</body>
</html>